<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>All The Best Restaurants</title>
</head>
<body>
    <h1>{{ cuisine.getType() }}</h1>

    {% if restaurants is not empty %}
        <p>See restaurants and their cuisines below:</p>
        <ul>
            {% for restaurant in restaurants %}
                <li>{{ restaurant.getName }}</li>
            {% endfor %}
        </ul>
   {% else %}
     <p>There are no restaurants yet! Add a restaurant below.</p>
   {% endif %}

   <form action="/restaurant" method="post">
       <input id="cuisine_id" type="hidden" name="cuisine_id" value="{{ cuisine.getId() }}">
       <label for="name">Restaurant Name:</label>
       <input id="name" name="name" type="text">
       <button type="submit">Add Restaurant</button>
   </form>

<button><a href="/">Home</a></button>

   <!-- <form action='/delete_categories' method='post'>
       <button type='submit'>Delete Category List</button>
   </form> -->

</body>
</html>
