<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>All The Best Restaurants</title>
</head>
<body>
    <h1>Best Restaurants</h1>
    <h3>Search for restaurants by cuisine or enter a new restaurant</p>


    <form action="/cuisine" method="post">
        <label for="type">Cuisine Type:</label>
        <input id="type" name="type" type="text">
        <button type="submit">Add Cuisine</button>
    </form>

    {% if cuisines is not empty %}
        <p>See restaurants and their cuisines below:</p>
        <ul>
            {% for cuisine in cuisines %}
                <li><a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getType }}</a></li>
            {% endfor %}
        </ul>
   {% else %}
     <p>There are no cuisines yet!</p>
   {% endif %}
   <p><a href="/total">Click here</a> to see all of the restaurants and cuisines.</p>
   <form action='/delete_cuisines' method='post'>
       <button class='btn btn-danger' type='submit'>Button of Death</button>
   </form>

</body>
</html>
