<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>All The Best Restaurants</title>
</head>
<body>
    <h1>{{ restaurants.getName }}</h1>
    <h1>Update the {{ restaurants.getName }}'s name:' </h1>

    <form action="/restaurants/{{ restaurants.getId }}" method="post">
      <input name="_method" type="hidden" value="patch">

      <label for="name">Rename your restaurant:</label>
      <input id="name" name="name" type="text">

      <button type="submit">Update</button>
    </form>
    <form action="/restaurants/{{ restaurants.getId }}" method="post">
      <input name="_method" type="hidden" value="delete">

      <button type="submit">Delete this restaurant</button>
    </form>
    <p><a href="/total">Click here</a> to see all of the restaurants and cuisines.</p>
    <p><a href='/'>Home</a></p>


</body>
</html>
